<!DOCTYPE html>
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../resources/css/images/guide/favicon_180.png">
	<link rel="icon" type="image/png" sizes="512x512" href="../resources/css/images/guide/favicon_512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../resources/css/images/guide/favicon_192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../resources/css/images/guide/favicon_32.png">
	<title>레이아웃 - KRDS</title>
	<link href="../resources/css/pattern_css.css" type="text/css" rel="stylesheet">
</head>

<body class="">
	<div id="wrap">
        <!-- 컴포넌트 입력 -->
		<footer id="footer">
			<div class="inner">
				<div class="f-btm">
					<div class="f-btm-text">
						<div class="f-menu">
							<a href="#" class="point">개인정보처리방침</a>
							<a href="#">저작권 정책</a>
							<a href="#">웹 접근성 품질인증 마크 획득</a>
						</div>
						<p class="f-copy">© Ministry of Education. All rights reserved.</p>
					</div>
					<div class="f-btm-ban">
						<span class="ban-txt">이 누리집은 보건복지부 산하기관 누리집입니다.</span>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- 스크립트 : 라이브러리 -->
	<script src="../resources/js/pattern/jquery.min.js"></script>

	<!-- 스크립트 : 패턴 페이지 -->

	<script src="../resources/js/pattern/ui-pattern-script.js"></script>

	<!-- 스크립트 : 컴포넌트 -->
	<script src="../resources/js/component/ui-script.js"></script>


<div class="w-gnb-dim" style="display: none;"></div></body></html>
