<!DOCTYPE html>
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../resources/images/favicon/favicon_180.png">
	<link rel="icon" type="image/png" sizes="512x512" href="../resources/images/favicon/favicon_512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../resources/images/favicon/favicon_192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../resources/images/favicon/favicon_32.png">
	<title>레이아웃 - KRDS</title>
	<link href="../resources/css/pattern_css.css" type="text/css" rel="stylesheet">
</head>

<body class="">
	<div id="wrap">
        <!-- 컴포넌트 입력 -->
		<div id="container">
			<!-- 컨텐츠 영역 -->
			<div class="inner in-between">
				<div class="left-menu">
					<div class="left-in">
						<h2 class="lnb-tit">1depth title</h2>
						<ul class="acco-list lnb-list" data-action="accordion">
							<li class="li">
								<div class="acco-head">
									<h3 class="tit">2depth-title</h3>
									<button type="button" class="btn btn-ico acco-btn">
										<span class="sr-only">펼침</span>
									</button>
								</div>
								<div class="acco-body" style="display: none;">
									<div class="acco-in">
										<ul class="sub-ul">
											<li>
												<button type="button" class="subm is-depth4">
													3depth title<span class="sr-only">열기</span>
												</button>
												<div class="depth4-wrap">
													<button type="button" class="depth4-tit">
														3depth-title
														<span class="sr-only">닫기</span>
													</button>
													<ul class="depth4-ul">
														<li><a href="#">depth title</a></li>
														<li><a href="#">depth title</a></li>
														<li><a href="#">depth title</a></li>
														<li><a href="#">depth title</a></li>
													</ul>
												</div>
											</li>
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="li">
								<div class="acco-head">
									<h3 class="tit">2depth-title</h3>
									<button type="button" class="btn btn-ico acco-btn">
										<span class="sr-only">펼침</span>
									</button>
								</div>
								<div class="acco-body" style="display: none;">
									<div class="acco-in">
										<ul class="sub-ul">
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
											<li>
												<button type="button" class="subm is-depth4">
													3depth title<span class="sr-only">열기</span>
												</button>
												<div class="depth4-wrap">
													<button type="button" class="depth4-tit">
														3depth title<span class="sr-only">닫기</span>
													</button>
													<ul class="depth4-ul">
														<li><a href="#">depth title</a></li>
														<li><a href="#">depth title</a></li>
														<li><a href="#">depth title</a></li>
														<li><a href="#">depth title</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="li">
								<div class="acco-head">
									<h3 class="tit">2depth-title</h3>
									<button type="button" class="btn btn-ico acco-btn">
										<span class="sr-only">펼침</span>
									</button>
								</div>
								<div class="acco-body" style="display: none;">
									<div class="acco-in">
										<ul class="sub-ul">
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
											<li><a href="#" class="subm">3depth title</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 스크립트 : 라이브러리 -->
	<script src="../resources/js/pattern/jquery.min.js"></script>

	<!-- 스크립트 : 패턴 페이지 -->
	<script src="../resources/js/pattern/ui-pattern-script.js"></script>

	<!-- 스크립트 : 컴포넌트 -->
	<script src="../resources/js/component/ui-script.js"></script>


<div class="w-gnb-dim" style="display: none;"></div></body></html>
