<!DOCTYPE html>
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../resources/images/favicon/favicon_180.png">
	<link rel="icon" type="image/png" sizes="512x512" href="../resources/images/favicon/favicon_512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../resources/images/favicon/favicon_192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../resources/images/favicon/favicon_32.png">
	<title>레이아웃 - KRDS</title>
	<link href="../resources/css/pattern_css.css" type="text/css" rel="stylesheet">
	<style>
		/* 잘 보이기 위해 */
		#section_01 {
			height: 80vh;
			background-color: #FF0000;
		}
		#section_02 {
			height: 80vh;
			background-color: #00FF00;
		}
		#section_03 {
			height: 80vh;
			background-color: #0000FF;
		}
		#section_04 {
			height: 80vh;
			background-color: #FF0000;
		}
		#section_05 {
			height: 80vh;
			background-color: #00FF00;
		}
		#section_06 {
			height: 80vh;
			background-color: #0000FF;
		}
		#section_07 {
			height: 80vh;
			background-color: #FF0000;
		}
	</style>
</head>

<body class="">
<div id="wrap">
	<!-- 컴포넌트 입력 -->
	<div id="container">
		<!-- 컨텐츠 영역 -->
		<div class="inner quick-nav-inner">
			<!-- 컨텐츠 영역 -->
			<div class="conts-area quick-nav-type">
				<!-- quick link -->
				<div class="quick-nav-area">
					<div class="quick-title-wrap pc-only">
						<p class="guide-txt">Guide Text</p>
						<h3 class="sec-tit">Title</h3>
					</div>
					<nav class="quick-list">
						<ul>
							<li><a href="#section_01" class="active">section_01</a></li>
							<li><a href="#section_02" class="">section_02</a></li>
							<li><a href="#section_03" class="">section_03</a></li>
							<li><a href="#section_04" class="">section_04</a></li>
							<li><a href="#section_05" class="">section_05</a></li>
							<li><a href="#section_06" class="">section_06</a></li>
							<li><a href="#section_07" class="">section_07</a></li>
						</ul>
					</nav>
					<div class="btn-wrap pc-only">
						<button type="button" class="btn primary">Submit</button>
						<p class="guide-txt">Guide Text <strong>Strong Text</strong></p>
					</div>
				</div>
				<!-- //quick link -->

				<div class="conts-detail-wrap">
					<!-- real contents -->
					<div class="conts-wrap scroll-check">
						<div class="conts-wrap section-link" id="section_01">
							<h3 class="sec-tit">section_01</h3>
						</div>
						<div class="conts-wrap section-link" id="section_02">
							<h3 class="sec-tit">section_02</h3>
						</div>
						<div class="conts-wrap section-link" id="section_03">
							<h3 class="sec-tit">section_03</h3>
						</div>
						<div class="conts-wrap section-link" id="section_04">
							<h3 class="sec-tit">section_04</h3>
						</div>
						<div class="conts-wrap section-link" id="section_05">
							<h3 class="sec-tit">section_05</h3>
						</div>
						<div class="conts-wrap section-link" id="section_06">
							<h3 class="sec-tit">section_06</h3>
						</div>
						<div class="conts-wrap section-link" id="section_07">
							<h3 class="sec-tit">section_07</h3>
						</div>
					</div>
					<!-- //real contents -->
				</div>
			</div>
			<!-- //컨텐츠 영역 -->
		</div>
	</div>
</div>

<!-- 스크립트 : 라이브러리 -->
<script src="../resources/js/pattern/jquery.min.js"></script>

<!-- 스크립트 : 패턴 페이지 -->
<script src="../resources/js/pattern/ui-pattern-script.js"></script>

<!-- 스크립트 : 컴포넌트 -->
<script src="../resources/js/component/ui-script.js"></script>


<div class="w-gnb-dim" style="display: none;"></div></body></html>
