<!DOCTYPE html>
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../resources/images/favicon/favicon_180.png">
	<link rel="icon" type="image/png" sizes="512x512" href="../resources/images/favicon/favicon_512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../resources/images/favicon/favicon_192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../resources/images/favicon/favicon_32.png">
	<title>레이아웃 - KRDS</title>
	<link href="../resources/css/pattern_css.css" type="text/css" rel="stylesheet">
</head>
<style>
	/* 잘 보이기 위해 */
	#container {
		padding: 5%;
		width: 90%;
	}
</style>
<body class="">
	<div id="wrap">
        <!-- 컴포넌트 입력 -->
		<div id="container">
			<!-- 검색 결과 : 리스트 -->
			<ul class="search-list type1">
				<li class="li">
					<div class="in">
						<div class="card-top">
							<span class="krds-badge">신청중</span>
						</div>
						<div class="card-body">
							<a href="#" class="c-text">
								<p class="c-tit"><span class="span">제목</span></p>
								<p class="c-txt">
									내용
								</p>
								<p class="c-date">
									<strong class="key">신청 기간</strong>
									<span class="value">2024.7.29.~2024.9.30.</span>
								</p>
							</a>
							<div class="c-btn">
								<a href="#" class="btn md primary">Submit</a>
							</div>
						</div>
						<div class="card-btm">
							<span class="tag">tag1</span>
							<span class="tag">tag2</span>
						</div>
						<div class="card-btn">
							<button type="button" class="btn sm btn-txt ico-share ico-before">공유하기</button>
							<button type="button" class="btn sm btn-txt ico-like ico-before">찜하기</button>
						</div>
					</div>
				</li>
				<li class="li">
					<div class="in">
						<div class="card-top">
							<span class="krds-badge bg3">방문 신청</span>
						</div>
						<div class="card-body">
							<a href="#" class="c-text">
								<p class="c-tit"><span class="span">제목</span></p>
								<p class="c-txt">
									내용
								</p>
								<p class="c-date">
									<strong class="key">신청 기간</strong>
									<span class="value">2024.7.29.~2024.9.30.</span>
								</p>
							</a>
							<div class="c-btn">
								<a href="#" class="btn md primary">Submit</a>
							</div>
						</div>
						<div class="card-btm">
							<span class="tag">tag1</span>
							<span class="tag">tag2</span>
						</div>
						<div class="card-btn">
							<button type="button" class="btn sm btn-txt ico-share ico-before">공유하기</button>
							<button type="button" class="btn sm btn-txt ico-like ico-before">찜하기</button>
						</div>
					</div>
				</li>
				<li class="li">
					<div class="in">
						<div class="card-top">
							<span class="krds-badge bg2">신청예정</span>
						</div>
						<div class="card-body">
							<a href="#" class="c-text">
								<p class="c-tit"><span class="span">제목</span></p>
								<p class="c-txt">
									내용
								</p>
								<p class="c-date">
									<strong class="key">신청 기간</strong>
									<span class="value">2024.7.29.~2024.9.30.</span>
								</p>
							</a>
							<div class="c-btn">
								<a href="#" class="btn md primary" disabled>Submit</a>
							</div>
						</div>
						<div class="card-btm">
							<span class="tag">tag1</span>
							<span class="tag">tag2</span>
						</div>
						<div class="card-btn">
							<button type="button" class="btn sm btn-txt ico-share ico-before">공유하기</button>
							<button type="button" class="btn sm btn-txt ico-like ico-before">찜하기</button>
						</div>
					</div>
				</li>
			</ul>
			<!-- //검색 결과 : 리스트 -->
		</div>
	</div>

	<!-- 스크립트 : 라이브러리 -->
	<script src="../resources/js/pattern/jquery.min.js"></script>

	<!-- 스크립트 : 패턴 페이지 -->
	<script src="../resources/js/pattern/ui-pattern-script.js"></script>

	<!-- 스크립트 : 컴포넌트 -->
	<script src="../resources/js/component/ui-script.js"></script>


<div class="w-gnb-dim" style="display: none;"></div></body></html>
