<!DOCTYPE html>
<html lang="ko"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" sizes="180x180" href="../resources/css/images/guide/favicon_180.png">
	<link rel="icon" type="image/png" sizes="512x512" href="../resources/css/images/guide/favicon_512.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../resources/css/images/guide/favicon_192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../resources/css/images/guide/favicon_32.png">
	<title>레이아웃 - KRDS</title>
	<link href="../resources/css/pattern_css.css" type="text/css" rel="stylesheet">
</head>

<body class="">
	<div id="wrap">
        <!-- 컴포넌트 입력 -->
		<!-- modal -->
		<section id="modal_sample_02" class="modal fade alert in shown" aria-hidden="false" role="dialog" aria-labelledby="tit_modal_sample_02">
			<div class="modal-dialog">
				<div class="modal-content" tabindex="0">
					<!-- modal title -->
					<div class="modal-header">
						<h2 id="tit_modal_sample_02" class="modal-title">
							모달 제목 - 얼럿형
						</h2>
					</div>
					<!-- //modal title -->
					<!-- modal contents -->
					<div class="modal-conts">
						<h3 class="conts-tit">내용 타이틀</h3>
						<div class="conts-area">
							alert 형 입니다.
						</div>
					</div>
					<!-- //modal contents -->
					<!-- modal btn -->
					<div class="modal-btn btn-wrap">
						<button type="button" class="btn tertiary md close-modal">아니요</button>
						<button type="button" class="btn primary md close-modal">예</button>
					</div>
					<!-- //modal btn -->
					<!-- close button -->
					<button type="button" class="btn-close close-modal"><span class="sr-only">닫기</span></button>
					<!-- //close button -->
				</div>
			</div>
			<div class="modal-back in"></div>
		</section>
		<!-- //modal -->
	</div>

	<!-- 스크립트 : 라이브러리 -->
	<script src="../resources/js/pattern/jquery.min.js"></script>

	<!-- 스크립트 : 패턴 페이지 -->
	<script src="../resources/js/pattern/ui-pattern-script.js"></script>

	<!-- 스크립트 : 컴포넌트 -->
	<script src="../resources/js/component/ui-script.js"></script>


<div class="w-gnb-dim" style="display: none;"></div></body></html>
